<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Howdy, <%= @user.username %></h1>
    <p><%= @weekly_digest.week_message_count %> messages have been exchanged in the last week.</p>
    <p><%= @weekly_digest.message_count_since_last_user_mesage %> since your last message on the <%= @weekly_digest.last_message_date %>.</p>
  </body>
</html>